<h3>Heartstone cards browser</h3>
<form novalidate>
    <input type="text" ng-model="vm.searchString" class="form-control">
    <br>
    <ul class="list-group">
        <li ng-repeat="card in vm.displayedCards track by ::card.id" class="list-group-item">
            <strong>{{:: card.name }}</strong>:
            <span>{{:: card.text }}</span>
            <span card-type-label="card.type"></span>

            <span style="font-style: italic">{{:: card.rarity }}</span>

            <span class="badge">{{:: card.cost }}</span>
        </li>
    </ul>
</form>