<h3>Heartstone cards browser</h3>
<form novalidate>
    <input type="text" ng-model="vm.searchString" ng-model-options="{ debounce: 200 }" class="form-control">
    <br>
    <ul class="list-group">
        <li ng-repeat="card in vm.displayedCards track by ::card.id" class="list-group-item">
            <strong>{{:: card.name }}</strong>:
            <span>{{:: card.text }}</span>
            <span card-type-label="card.type"></span>

            <span style="font-style: italic">{{:: card.rarity }}</span>

            <span class="badge">{{:: card.cost }}</span>

            <button ng-click="vm.showFlavor(card)" ng-if="card.flavor && !card.flavorDisplayed">Flavor <i class="glyphicon glyphicon-chevron-down"></i></button>
            <button ng-click="vm.hideFlavor(card)" ng-if="card.flavorDisplayed">Flavor <i class="glyphicon glyphicon-chevron-up"></i></button>
            <div ng-if="card.flavorDisplayed">
                <textarea class="form-control" ng-model="card.flavor"></textarea>
            </div>
        </li>
    </ul>
</form>